﻿<h3>Update</h3>

@page "/CitiesViews/Update/{id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<Form ButtonText="Update" city="@city"
      OnValidSubmit="@UpdateCity" />
@code {
    [Parameter] public int id { get; set; }
    City city = new City();
    protected async override Task OnParametersSetAsync()
    {
        city = await http.GetFromJsonAsync<City>($"City/{id}");
    }
    async Task UpdateCity()
    {
        await http.PutAsJsonAsync("City", city);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("CitiesViews/FetchData");
    }
}