﻿@page "/CallsViews/FetchData"
@using Phone_calls_6.Shared.Models
@inject HttpClient Http
@inject IJSRuntime js

<h1>Calls</h1>

<div class="form-group">
    <a class="btn btn-success" href="CallsViews/Create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (calls == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date of calls</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var call in calls)
            {
                <tr>
                    <td>@call.date_of_calls</td>
                    <td>@call.duration</td>
                    <td>
                        <a class="btn btn-success" href="CallsViews/Update/@call.id">Update</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(call.id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Calls[] calls;

    protected override async Task OnInitializedAsync()
    {
        calls = await Http.GetFromJsonAsync<Calls[]>("Call");
    }

    async Task Delete(int callId)
    {
        var call = calls.First(x => x.id == callId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete ({call.id}) Record?"))
        {
            await Http.DeleteAsync($"Call/{callId}");
            await OnInitializedAsync();
        }
    }
}