﻿@page "/AddressViews/FetchData"
@using Phone_calls_6.Shared.Models
@inject HttpClient Http
@inject IJSRuntime js

<h1>Addresses</h1>

<div class="form-group">
    <a class="btn btn-success" href="AddressViews/Create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (addresses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Street</th>
                <th>House number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in addresses)
            {
                <tr>
                    <td>@address.city</td>
                    <td>@address.street</td>
                    <td>@address.house_number</td>
                    <td>
                        <a class="btn btn-success" href="AddressViews/Update/@address.id">Update</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(address.id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Address[] addresses;

    protected override async Task OnInitializedAsync()
    {
        addresses = await Http.GetFromJsonAsync<Address[]>("Address");
    }

    async Task Delete(int addressId)
    {
        var address = addresses.First(x => x.id == addressId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete ({address.id}) Record?"))
        {
            await Http.DeleteAsync($"Address/{addressId}");
            await OnInitializedAsync();
        }
    }
}