﻿@page "/PersonsViews/Create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create Person" person="@person"
      OnValidSubmit="@CreatePerson" />
@code {
    Persons person = new Persons();
    async Task CreatePerson()
    {
        await http.PostAsJsonAsync("Person", person);
        uriHelper.NavigateTo("PersonsViews/FetchData");
    }
}