﻿@page "/PersonsViews/FetchData"
@using Phone_calls_6.Shared.Models
@inject HttpClient Http
@inject IJSRuntime js

<h1>Persons</h1>

<div class="form-group">
    <a class="btn btn-success" href="PersonsViews/Create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.first_name</td>
                    <td>@person.second_name</td>
                    <td>@person.last_name</td>
                    <td>@person.phone_number</td>
                    <td>
                        <a class="btn btn-success" href="PersonsViews/Update/@person.id">Update</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(person.id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Persons[] persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await Http.GetFromJsonAsync<Persons[]>("Person");
    }

    async Task Delete(int id)
    {
        var person = persons.First(x => x.id == id);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete ({person.id}) Record?"))
        {
            await Http.DeleteAsync($"Person/{id}");
            await OnInitializedAsync();
        }
    }
}