﻿<EditForm Model="@person" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>First Name :</label>
        <div>
            <InputText @bind-Value="@person.first_name" />
            <ValidationMessage For="@(() => person.first_name)" />
        </div>
    </div>
    <div class="form-group">
        <label>Second Name :</label>
        <div>
            <InputText @bind-Value="@person.second_name" />
            <ValidationMessage For="@(() => person.second_name)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Last Name :</label>
            <div>
                <InputText @bind-Value="@person.last_name" />
                <ValidationMessage For="@(() => person.last_name)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Phone :</label>
            <div>
                <InputText @bind-Value="@person.phone_number" />
                <ValidationMessage For="@(() => person.phone_number)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Persons person { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}