﻿<h3>Update</h3>

@page "/PersonsViews/Update/{id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<Form ButtonText="Update" person="@person"
      OnValidSubmit="@UpdatePersons" />
@code {
    [Parameter] public int id { get; set; }
    Persons person = new Persons();
    protected async override Task OnParametersSetAsync()
    {
        person = await http.GetFromJsonAsync<Persons>($"Person/{id}");
    }
    async Task UpdatePersons()
    {
        await http.PutAsJsonAsync("Person", person);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("PersonsViews/FetchData");
    }
}